*{
    font-family: 'Poppins', sans-serif;
}
main{
    text-align: center;
}
#image{
    display: block;
    max-width: 100%;
    height: auto;
    border-radius: 100%;
    margin: auto;

}

#img-caption{
    margin: 10px;
}

.bold{
    font-weight: bold;
}

ul{
    max-width: 550px;
    text-align: left;
    line-height: 1.5;
    margin: 0 auto 30px auto;
}

li{
    margin: .5rem 0;
    list-style: none;
}